{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuracion</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
</head>
<body>
    <main class="panel-configuracion">
        <h1>Configuracion</h1>

        <div class="menu-configuracion">
            <a class="boton-principal" href="{% url 'modificar_usuario' %}">Modificar datos del usuario</a>
            <a href="{% url 'home' %}">Volver al inicio</a>
        </div>
    </main>
</body>
</html>
