{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
</head>
<body>
    <main class="panel-configuracion">
        <h1>Login</h1>

        {% if messages %}
            <div class="mensajes">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form action="" method="post" class="formulario-usuario">
            {% csrf_token %}

            <label>
                Nombre de Usuario
                <input type="text" name="username" placeholder="Nombre de Usuario">
            </label>
            <label>
                Contrasena
                <input type="password" name="password" placeholder="Contrasena">
            </label>

            <button type="submit">Iniciar Sesion</button>
            <a href="{% url 'registro' %}">Registrarse</a>

            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
        </form>
    </main>
</body>
</html>
