{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar datos</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
</head>
<body>
    <main class="panel-configuracion">
        <h1>Modificar datos del usuario</h1>

        <form method="POST" class="formulario-usuario">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Guardar cambios</button>
        </form>

        <a href="{% url 'configuracion' %}">Volver a configuracion</a>
    </main>
</body>
</html>
